**include/config.php
**.DS_Store
**.html
**.ai
**placeholder**
static/img/home/carousel_banner_one.png
static/img/home/carousel_banner_three.png
static/img/home/carousel_banner_two.png
static/img/programme/destination_banner_01.png
static/img/programme/destination_banner_02.png
static/img/programme/destination_banner_03.png
