
iframe {
	width: 100% !important;
	height: 500px !important;
	border: 0 !important;
}

/* Your custom CSS here */
.corner {
	position: relative;
	justify-content: flex-start;
	margin-top: 30px;
}

.company p {
	font-size: 110%;
	/*display: none;*/
}

.committee-photo{
	width: 100%;
	border-radius: 50px;
}

.company {
	position: relative;
	display: flex;
	flex-direction: column;
	border-top: 1px solid black;
	padding: 15px 0;
}

.company h1, 
.company h2 {
	text-align: center;
}

.company:first-of-type {
	margin-top: 30px;
}

.company-text,
.company-photo {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

.company-photo img {
	width: 60%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}


@media (min-width: 550px) {
	.company {
		flex-direction: row;
	}

	.company-text,
	.company-photo {
		margin: 15px 0;
	}

	.company-photo {
		flex: 0 0 33.333%;
	}
	
	.company-photo img {
		width: 100%;
	}

	.company-text {
		flex: 1 1 66.666%;
		padding-left: 30px;
	}

	.company:nth-of-type(even) .company-text{
		order: -1;
		padding-left: 0;
		padding-right: 30px;
	}

	.company:nth-of-type(even) .corner {
		justify-content: flex-start;
	}

	.corner {
		justify-content: flex-end;
	}
}

@media (min-width: 768px) {
	.company-text,
	.company-photo {
		flex: 1 0 50%;
	}
}

