
html, body {
	height: 100%;
}

.footer, .ideas {
	display: none;
}

/*.nav {
	position: fixed;
}*/

.tab-content {
	height: 92%;
}

.tab-pane {
	height: 100%;
	background: #000000;
}

.progress {
	height: 8%;
}
