
/*.footer,*/
.ideas {
	display: none;
}

.corner {
	position: relative;
	justify-content: flex-start;
	margin-top: 30px;
}

.third-width {
	flex: 1 1 33.333%;
	height: auto;
}

.programme-item {
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
}

.programme-item-photo {
	width: 100%;
	height: inherit;
}

.third-width img,
.programme-item-photo img {
	width: 100%;
	height: 100%;
	display: block;
	margin-top: auto;
	margin-bottom: auto;
	position: relative;
	object-fit: cover;

	background-image: url("/static/img/woopsie.svg");
	background-position: center;
	background-size: cover; 
}

.programme-item-photo,
.programme-item-text {
	position: relative;
	height: inherit;
	max-height: 500px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

.programme-item-text {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 45px;
}

@media (min-width: 550px) {
	.programme-item {
		flex-direction: row;
		flex-wrap: nowrap; 
	}

	.programme-item-photo {
		flex: 1 1 33.333%;
	}

	.programme-item-text {
		flex: 2 2 66.666%;
	}

	.programme-item-photo,
	.programme-item-text {
		height: inherit;
	}

	.programme-item:nth-of-type(even) .programme-item-text {
		order: -1;
	}

	.programme-item:nth-of-type(even) .corner {
		justify-content: flex-start;
	}

	.corner {
		justify-content: flex-end;
	}
}

@media (min-width: 768px) {
	.programme-item-photo,
	.programme-item-text {
		flex: 1 0 50%;
	}

	.programme-item-photo {
		max-width: 50%;
	}

	.programme-item:nth-of-type(even) .programme-item-text {
		/*padding-left: 20%;
		padding-right: 15px;*/
		margin-left: auto;
		margin-right: 0;
		max-width: 570px;
	}

	.programme-item-text {
		/*padding-left: 15px;
		padding-right: 20%;*/
		margin-left: 0;
		margin-right: auto;
		max-width: 570px;
	}

	.destination-banner h1 {
		font-size: 72pt;
	}
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
	margin-top: 2px;
	margin-bottom: 2px;
}

.destination-banner {
	background: #ffe135;
	color: #fff;
	position: relative;
	z-index: 1;
	height: 200px;
}
.destination-banner:after {
	background: inherit;
	bottom: 0;
	content: '';
	display: block;
	height: 50%;
	left: 0;
	position: absolute;
	right: 0;
	transform: skewY(1.5deg);
	transform-origin: 0;
	z-index: -1;
}
.destination-banner:before {
	background: inherit;
	top: 0;
	content: '';
	display: block;
	height: 50%;
	left: 0;
	position: absolute;
	right: 0;
	transform: skewY(1.5deg);
	transform-origin: 100% 0;
	z-index: -1;
}
.destination-banner h1 {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	font-weight: 700;
}
